
/*---------------------------------------------------------------------- /
SECTIONS VEDIO CARDS
----------------------------------------------------------------------- */

.section-cards {
    z-index: 3;
    position: relative;
}

.section-gray {
    background: #E5E5E5;
    padding: 60px 0 30px 0;
}


/*---------------------------------------------------------------------- /
CARDS
----------------------------------------------------------------------- */

.section-cards-vedio .card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.section-cards-vedio .card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.section-cards-vedio .card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.section-cards-vedio .card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.section-cards-vedio .card img {
    width: 100%;
    height: auto;
}



.section-cards-vedio .card .ftr {
    margin-top: 15px;
}

.section-cards-vedio .card .ftr div {
    display: inline-block;
}

.section-cards-vedio .card .ftr .author {
    color: #888;
}

.section-cards-vedio .card .ftr .stats {
    float: right;
    line-height: 30px;
}

.section-cards-vedio .card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}


/* ============ Card Table ============ */

.section-cards-vedio .card .table {
    margin-bottom: 0px;
}

.section-cards-vedio .card .table {
    padding: 15px 30px;
}

/* ============ Card Blog ============ */

.card-blog {
    margin-top: 30px;
}

.card-blog .card-caption {
    margin-top: 5px;
}

.card-blog .card-image + .category {
    margin-top: 20px;
}

/* ============ Card Category ============ */

.section-cards-vedio .card .table .category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}

/* ============ Card Author ============ */

.section-cards-vedio .card .table .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.section-cards-vedio .card .table .author a {
    color: #333;
    text-decoration: none;
}

.section-cards-vedio .card .table .author a .ripple-cont {
    display: none;
}


/* ============ Card Product ============ */


.section-cards-vedio .card .table .card-description p {
    color: #888;
}

.section-cards-vedio .card .table .card-caption,
.section-cards-vedio .card .table .card-caption a {
    color: #333;
    text-decoration: none;
}

.section-cards-vedio .card .table .card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
/* ============ Text Color ============ */
.text-warning {
    color: #ff9800;
}
.text-primary {
    color: #9c27b0;
}
.text-danger {
    color: #f44336;
}
.text-success {
    color: #4caf50;
}
.text-info {
    color: #00bcd4;
}
.text-rose {
    color: #e91e63;
}
.text-gray {
    color: #888;
}

/*---------------------------------------------------------------------- /

                        BOOTSTRAP COL-MD-12 CLASS                           

----------------------------------------------------------------------- */

article.col-md-12 
{
    padding-right: 0px;
    padding-left: 0px;
}

/*---------------------------------------------------------------------- /
FONT AWESOME FA CLASS
----------------------------------------------------------------------- */

.fa 
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/***********Only4Demo*******************/
/**************************************/

/* ======= GENERAL  ======= */

/*body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
    /*font-weight: 300;
    line-height: 1.5em;
}*/

a {
    color: #9c27b0;
    text-decoration: none;
}

a:hover {
    color: #9c27b0;
    text-decoration: underline;
}

p {
    color: #3C4857;
}

h1, .h1 {
  font-size: 3.8em;
}

h2, .h2 {
  font-size: 2.0em;
  line-height: 1.6em;
  margin: 15px 0 15px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  text-align: center;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 30px 0 30px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  text-align: center;
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.55em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.55em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 500;
}